

/*       login page css      */
body.loginpage{
      background-color: #133433;
      
     font-family: Helvetica;
     
    }
   
    p{
      text-align: center;
      font-size: 250%;
      font-family: sans-serif;
      color:#17DCD5;
    }
    a:link {
        color: #00BFA5;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: #E0F7FA;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: #A7FFEB;
        background-color: transparent;
        text-decoration: underline;

    }
    a:active {
        color:#E0F2F1;
        background-color: transparent;
        text-decoration: underline;
    }
    p.newp{
      font-size: 250%;

    }
    h1.logoname{

      padding-top:75px;
     text-shadow: 0px 0px 1px #030808;
      border:none;
      border-radius: 20px;
      background-color: #165654;
      text-align:center;
      padding-bottom: 80px;
      width:40%;
      letter-spacing: 2px;
      font-weight: lighter;
      font-size: 65px;
      font-family: Helvetica;
      color:#17DCD5;
    }
    #loginfonts{
        font-family: sans-serif;
        font-size: 25px;
        font-weight: normal;
        color: #165654;
        
    }
    #makemecenter{

        border:none;
    }

    input[placeholder],[placeholder],*[placeholder]
    {
        color:#E0F7FA !important;
    }

    input{

            border: none;
            font-size: 25px;
            border-bottom: solid;
            border-width: 1px;
            border-color: #E0F2F1; 
            background-color: transparent;
            padding :2px 2px 0px 3px;
            color:#165654;
        text-shadow: 0px 0px 2px #030808;
            text-align: left;
    }
    input:focus{
        border: transparent;
        border-bottom-color: darkcyan;
        outline:none;
        color:#165654;
        text-decoration-color: #165654;
        border-bottom: solid;
        border-bottom-width: thin;
        border-color: #E0F2F1; 
        text-shadow: 0px 0px 2px #030808;
    }


    button{
        border:none;
        font-size: 20px;
        font-family: sans-serif;
        background-color: transparent;
        margin:8px 0;
        padding:14px 50px;
        color: #A7FFEB;
        text-shadow: 0px 0px 2px #030808;
        -webkit-transition: box-shadow 0.2s ease-in-out;
    }
    button:hover{
        -webkit-transition: box-shadow 0.2s ease-in-out;
        background-color: #165654;
        color: #17DCD5;
        text-shadow: 0px 0px 2px #030808;
        box-shadow: 4px 4px 10px #071212; 
        outline:none;
    }
    button:active{
        background-color:#A7FFEB; 
      /*  -webkit-transition: box-shadow 0.2s;*/
        color:#165654;
        box-shadow: none;
        outline:none;
        text-shadow: 0px 0px 2px #030808;
    }
    button:focus{
       /* box-shadow: none;*/
        outline:none;
        text-shadow: 0px 0px 2px #030808;
    }


/*          Welcome page css        */


body.welcome{
     background-color: #7DBFB0;
        font-family: Helvetica;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-blend-mode: darken;
     /*padding: -10px -10px -10px -10px;*/
    }

    h2.TitletoDaLeft{
        position: relative;
        text-rendering: optimizeLegibility;
        border: none;
        font-family: Helvetica;
        font-size: 30px;
        font-stretch: expanded;
        font-weight: bold;
        padding-top: 0px;
        padding-left: 0.5%;
        letter-spacing: 3px;
        font-weight: lighter;
        opacity:0.7;
        text-shadow: 0px 0px 2px #030808;
       /* background-color: #165654;*/
        color:#17DCD5;
        text-rendering: optimizeLegibility;
      /* -webkit-font-smoothing:antialiased;*/
    }

div.titlebar{
    height: 80px;
    opacity: 0.9;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  #165654;
}
.sidenav{
    margin-top: 100px;
    position:fixed;
    height:100%;
    opacity: 0.9;
    background-color:  #061919;
    height:100%;
    width:0px;      /*175px;*/
    z-index:1;
    top:0;
    left:0;
    overflow-x: hidden;
    transition: 0.3s;
}
.sidenav a{
    text-align: center;
    padding:8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #228886;
    display: block;
    transition: 0.5s;
    
}
#userName{
    position:relative;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    color:#228886;
    opacity:0.95;
    text-shadow: 0px 0px 1px #030808;
    text-rendering: optimizeLegibility;
    /*-webkit-font-smoothing:antialiased;*/
    
}
.sidenav a:hover, .offcanvas a:focus{
    color:#32C8C5;
}
.sidenav .closebtn{
    text-align: right;
    position:absolute;
    top: 0;
    right:5px;
    font-size: 29px;
}
@media screen and (max-height:450px){
    .sidenav{padding-top:15px;}
    .sidenav a{ font-size:18px;}
}

